img {
    width: 800px;
    height: 400px;
    border-radius: 20px;
 
}

body {
    padding-top: 2em;
    margin-bottom: 2em;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: rgb(240, 231, 197);
    color:rgb(31, 31, 90);
    font-weight: bold;
}
h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

blue {
    color: rgb(29, 123, 231);
}

